[Desktop Entry]
Name=CenterOS
X-KDE-PluginInfo-Author=yeyushengfan258&&tsingkwai
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=tsingkwai@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=CenterOS
X-KDE-PluginInfo-Version=1.0
