[Desktop Entry]
Name=CenterOS
Comment=CenterOS Aurorae Theme
X-KDE-PluginInfo-Author=tsingkwai
X-KDE-PluginInfo-Email=tsingkwai@protonmail.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=CenterOS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=true
