[Desktop Entry]
Name=Transtone

X-KDE-PluginInfo-Name=Transtone
X-KDE-PluginInfo-Author=tsingkwai
X-KDE-PluginInfo-Email=tsingkwai@protonmail.com
X-KDE-PluginInfo-License=CC-BY-NC-4.0
