[Desktop Entry]
Name=Stone

X-KDE-PluginInfo-Name=Stone
X-KDE-PluginInfo-Author=tsingkwai
X-KDE-PluginInfo-Email=tsingkwai@protonmail.com
X-KDE-PluginInfo-License=CC-BY-NC-4.0
